* {
  box-sizing: border-box;
}
h1,
h2 {
  text-align: center;
  color: #040d21;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.apk,
.docs,
.installers {
  width: 100%;
}
